{% load static %}

<!DOCTYPE html>

<html>

<head>
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/cabecera.css' %}">
    <link rel="icon" href="{% static 'img/olton.png' %}">

</head>

<body>

    <div class="cabecera">
        <a href="/">
            <img src="{% static 'img/sistemas olton.png' %}" alt="logo" class="logo_cabecera">
        </a>
        
        <a href="/login/">
            <svg class="user_cabecera" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-person" viewBox="0 0 16 16">
                <path
                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
            </svg>
        </a>
    </div>

    <div class="titulo">
        <h1>Inicia sesión</h1>
        <h4>Introduzca los datos</h4>
    </div>

    <form method="POST" action="{% url 'iniciar_sesion' %}">
        {% csrf_token %}

        {% if error %}
            <alert class="alert alert-danger">{{ error }}</alert>
        {% endif %}

        <div class="username">
            <p>Nombre de usuario:</p>
            <input type="text" name="username" required>
        </div>

        <div class="password">
            <p>Contraseña:</p>
            <input type="password" name="password" required>
        </div>

        <button type="submit">Iniciar sesión</button>

    </form>

    <p>¿No tienes cuenta? <a href="/registro/">Regístrate</a> </p>





</body>


</html>